* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    background-color: rgb(109, 109, 109);
    scroll-behavior: smooth;
}


/* template 1!!! */


.template-1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 120px 2fr 4fr .3fr;
}

.template-1 .company-logo .circle img {
    display: none;
    /*remove this display*/
    width: 30px;
    height: 30px;
    /* add or edit property logo in here */
}

.company-logo {
    grid-area: "company-logo";
    display: flex;
    align-items: center;
    background-color: white;
}

.company-logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5px;
}

.company-logo .circle {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid rgb(62, 182, 75);
    margin-left: 10%;
    /* delete this circle, this is just a parable */
}

.black-box-1-template-1 {
    grid-area: "black-box-1-template-1";
    background-color: black;
}

.BROCHURE-BUSINESS {
    background-color: rgb(62, 182, 75);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding: 25px 0 30px 5%;
}

.BROCHURE-BUSINESS h1 {
    letter-spacing: -1px;
    font-size: 28px;
}

.BROCHURE-BUSINESS h2 {
    color: white;
    font-weight: 200;
    font-size: 19px;
    letter-spacing: 4px;

}

.BROCHURE-BUSINESS p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 15px;
    font-size: 14px;
}

.green-box-1-template-1 {
    background-color: rgb(62, 182, 75);
}

.img-1-template-1 img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
}

.white-box-1-template-1 {
    background-color: white;
}

.black-box-2-template-1 {
    background-color: black;
}


/* template 2!!! */


.template-2 {
    display: grid;
    grid-template-columns: 1.7fr 1.7fr 3fr 1fr;
    grid-template-rows: 300px 300px 25px;
    margin-top: 30px;
}

.white-box-1-template-2 {
    background-color: white;
    display: flex;
    align-items: center;
}

.white-box-1-template-2 p {
    font-family: cursive;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.img-1-template-2 img,
.img-2-template-2 img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
}

.white-box-2-template-2 {
    background-color: white;
    display: flex;
    position: relative;
}

.green-box-1-template-2 {
    background-color: rgb(62, 182, 75);
    width: 100%;
    height: 50%;
    align-self: flex-end;
    padding: 10px;
}

.green-box-1-template-2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 24px;
}

.green-box-1-template-2 h2 {
    color: white;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 4px;
}

.green-box-1-template-2 p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    font-size: 11px;
}

.company-logo-template-2 {
    display: flex;
    align-self: flex-start;
    position: absolute;
    top: 15%;
    left: 2%;
    background-color: transparent;
}

.company-logo-template-2 .circle,
.company-logo-3-template-2 .circle {
    width: 30px;
    height: 20px;
    /* delete this circle, this is just a parable */
}

.black-box-1-template-2 {
    background-color: black;
    display: flex;
}

.black-box-2-template-2 {
    background-color: black;
}

.white-box-3-template-2 {
    background-color: white;
    display: flex;
}

.company-logo-3-template-2 {
    justify-items: center;
}

.white-box-4-template-2 {
    background-color: white;
}

.green-box-2-template-2 {
    background-color: rgb(62, 182, 75);
}

.black-box-3-template-2 {
    background-color: black;
}



/* template 3!!! */


.template-3 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 600px 25px;
    margin-top: 30px;
    position: relative;
}

/* left side */

.white-box-1-template-3 {
    background-color: white;
    position: relative;
}

.border-1-template-3 {
    width: 35%;
    height: 76%;
    border: 2px solid rgb(62, 182, 75);
    border-right: none;
    position: absolute;
    left: 1%;
    bottom: 15%;
}


.black-box-1-template-3 {
    background-color: black;
    width: 20%;
    height: 60%;
    float: right;
    position: relative;
    z-index: 2;
}

.green-box-1-template-3 {
    background-color: rgb(62, 182, 75);
}

.black-box-2-template-3 {
    background-color: black;
}

.white-box-1-template-3 h1 {
    background-color: white;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 25px;
    margin: 8% 8% 3% 10%;
    position: relative;
    z-index: 1;
}

.white-box-1-template-3 h1 span {
    color: rgb(62, 182, 75);
}

.paragraph-wrapper-1-template-3 {
    display: grid;
    justify-content: center;
}


.template-3 .paragraph-wrapper-1-template-3 p {
    text-align: justify;
    width: 80%;
    margin-bottom: 3% !important;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.img-1-template-3 {
    background-color: white;
    width: 75%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-1-template-3 img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
}

/* right side */

.white-box-2-template-3 {
    background-color: white;
    padding: 5%;
    position: relative;
}

.img-2-template-3 {
    display: flex;
    justify-content: center;
}

.img-2-template-3 {
    width: 90%;
    height: 35%;
}

/*delete woiii*/
.img-2-template-3 img {
    width: 90%;
    height: 90%;
    filter: grayscale(1);
    border-radius: 2px;
    object-fit: cover;
}

.white-box-2-template-3 h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 25px;
    position: relative;
    z-index: 1;
}

.white-box-2-template-3 h1 span {
    color: rgb(62, 182, 75);
}

.white-box-2-template-3 .caption-right-side {
    border-top: 2px solid rgb(62, 182, 75);
    border-bottom: 2px solid rgb(62, 182, 75);
    border-right: none;
    padding: 5px;
    font-family: cursive;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.template-3 .paragraph-wrapper-2-template-3 p {
    text-align: justify;
}

.paragraph-wrapper-2-template-3 {
    margin-top: 4%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* template 4 */


.template-4 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 600px 25px;
    margin-top: 30px;
    position: relative;
}

/* left side */
.white-box-1-template-4 {
    background-color: rgb(223, 223, 223);
    position: relative;
}

.black-box-1-template-4 {
    background-color: black;
    width: 25%;
    height: 20%;
    float: right;
    position: relative;
    z-index: 2;
}

.green-box-1-template-4 {
    background-color: rgb(62, 182, 75);
    width: 14%;
    height: 12.6%;
    float: right;
    position: relative;
    z-index: 2;
}

.white-box-1-template-4 h1 {
    background-color: white;
    position: absolute;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 25px;
    padding: 3%;
    position: relative;
    z-index: 1;
}

.white-box-1-template-4 h1 span {
    color: rgb(62, 182, 75);
}

.wrap-blackbox-and-lorem-paragraph .black-box-2-template-4 {
    background-color: rgb(62, 182, 75);
    width: 100%;
}

.wrapper-h1-and-paragrph-inTamplate-4 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 5% 0;
    justify-content: center;
    align-items: center;
}

.lorem-1-inTamplate-4,
.lorem-2-inTamplate-4,
.lorem-3-inTamplate-4 {
    display: flex;
    text-align: justify;
    width: 130%;
}

.lorem-1-inTamplate-4 .circle-1,
.lorem-2-inTamplate-4 .circle-2,
.lorem-3-inTamplate-4 .circle-3 {
    background-color: black;
    color: white;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: -10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lorem-1-inTamplate-4 h3,
.lorem-2-inTamplate-4 h3,
.lorem-3-inTamplate-4 h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 182, 75);
}

.lorem-1-inTamplate-4 p,
.lorem-2-inTamplate-4 p,
.lorem-3-inTamplate-4 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.white-box-1-template-4 .img-1-template-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37%;
    position: absolute;
    bottom: 5%;
}

.img-1-template-4 img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    filter: grayscale(1);
}

/* right side */

.white-box-2-template-4 {
    background-color: white;
}

.wrap-box-and-img {
    width: 100%;
    height: 25%;
    position: relative;
}

.white-box-2-template-4 .black-box-3-template-4 {
    background-color: black;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-box-2-template-4 .black-box-3-template-4 h1 {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.black-box-3-template-4 h1 span {
    color: rgb(62, 182, 75);
}

.white-box-2-template-4 .img-2-template-4 img {
    object-fit: cover;
    filter: grayscale(1);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 1px;
}

.wrapper-paragraph-2-template-4 {
    display: grid;
    grid-template-rows: 3fr 2.3fr;
    padding: 5%;
}

.paragraph-wrapper-2-template-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-wrapper-2-template-4 p {
    text-align: justify;
    margin: 8px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.paragraph-wrapper-3-template-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.paragraph-wrapper-3-template-4 p {
    border: 2px solid rgb(62, 182, 75);
    padding: 7%;
    text-align: justify;
    font-family: cursive;
    font-size: 11px;
    font-style: italic;
}

.green-box-3-template-4 {
    background-color: rgb(62, 182, 75);
}

.black-box-4-template-4 {
    background-color: black;
}


/* template 5 */


.template-5 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 600px 25px;
    margin-top: 30px;
    position: relative;
}

/* left side */
.white-box-1-template-5 {
    background-color: rgb(223, 223, 223);
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.img-1-template-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box-1-template-5 img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    filter: grayscale(1);
}

.wrap-blackbox-and-lorem-paragraph {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.black-box-1-template-5 {
    background-color: black;
}

.wrapper-h1-and-paragrph-inTamplate-5 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.wrapper-h1-and-paragrph-inTamplate-5 h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 25px;
    margin: 0 10%;
}

.wrapper-h1-and-paragrph-inTamplate-5 span {
    color: rgb(62, 182, 75);
}

.wrapper-h1-and-paragrph-inTamplate-5 hr {
    border: none;
    background-color: rgb(62, 182, 75);
    width: 65%;
    height: 2px;
    margin: 5% auto;
}

.lorem-1-inTamplate-5,
.lorem-2-inTamplate-5,
.lorem-3-inTamplate-5 {
    display: flex;
    text-align: justify;
    width: 99%;
}

.lorem-1-inTamplate-5 i,
.lorem-2-inTamplate-5 i,
.lorem-3-inTamplate-5 i {
    color: rgb(62, 182, 75);
    font-size: 40px;
    display: flex;
    align-items: center;
    margin: 0 3%;
}

.lorem-1-inTamplate-5 h3,
.lorem-2-inTamplate-5 h3,
.lorem-3-inTamplate-5 h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 182, 75);
}

.lorem-1-inTamplate-5 p,
.lorem-2-inTamplate-5 p,
.lorem-3-inTamplate-5 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}


/* right side */


.white-box-2-template-5 {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.black-box-2-template-5 {
    background-color: #000;
    color: white;
    text-align: right;
    display: flex;
    justify-content: end;
    padding-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 80%;
}

.black-box-2-template-5 span {
    color: rgb(62, 182, 75);
}

.wrapper-lorem-and-img-template-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrapper-lorem-and-img-template-5 p {
    text-align: justify;
    width: 98%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.img-2-template-5 img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    transform: translateY(2%);
}

.green-box-3-template-5 {
    background-color: rgb(62, 182, 75);
}

.black-box-3-template-5 {
    background-color: #000;
}

/* media */
@media (max-width:669px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    /* template 2 */
    .white-box-1-template-2 p {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 6px;
    }

    .company-logo h1 {
        font-size: 10px;
    }

    .green-box-1-template-2 h1 {
        font-size: 19px;
    }

    .green-box-1-template-2 h2 {
        font-size: 11px;
    }

    .green-box-1-template-2 {
        padding: 6px;
    }

    .green-box-1-template-2 p {
        font-weight: 600;
        margin-top: 0px;
        font-size: 9px;
        width: 130%;
    }

    /* template 3 */
    .white-box-1-template-3 h1 {
        font-size: 15px;
        margin-top: 5%;
    }

    .border-1-template-3 {
        height: 80%;
    }

    .img-1-template-3 {
        width: 85%;
    }

    .template-3 .paragraph-wrapper-1-template-3 p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        width: 90%;
        text-align: -3px;
    }

    .white-box-2-template-3 .caption-right-side {
        font-size: 10px;
    }

    .white-box-2-template-3 h1 {
        font-size: 20px;
    }

    .paragraph-wrapper-2-template-3 {
        margin-top: -13%;
    }

    .template-3 .paragraph-wrapper-2-template-3 p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        width: 90%;
        text-align: -3px;
    }

    /* template 4 */
    .black-box-1-template-4 {
        width: 20%;
        height: 8%;
    }

    .green-box-1-template-4 {
        width: 13%;
        height: 5%;
    }

    .white-box-1-template-4 h1 {
        font-size: 14px;
    }

    .lorem-1-inTamplate-4 .circle-1,
    .lorem-2-inTamplate-4 .circle-2,
    .lorem-3-inTamplate-4 .circle-3 {
        max-width: 15px;
        max-height: 15px;
    }

    .lorem-1-inTamplate-4 h3,
    .lorem-2-inTamplate-4 h3,
    .lorem-3-inTamplate-4 h3 {
        font-size: 12px;
    }

    .lorem-1-inTamplate-4 p,
    .lorem-2-inTamplate-4 p,
    .lorem-3-inTamplate-4 p {
        font-size: 10px;
        margin-right: 5px;
        margin-bottom: 3%;
    }

    .img-1-template-4 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 47%;
        position: relative;
    }

    .white-box-1-template-4 img {
        bottom: -85%;
    }

    /* right side */
    .paragraph-wrapper-2-template-4 p {
        margin: 5px 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 11px;
    }

    .white-box-2-template-4 .black-box-3-template-4 h1 {
        font-size: 10px;
    }

    .paragraph-wrapper-3-template-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    .paragraph-wrapper-3-template-4 p {
        font-size: 8px;
        font-weight: 600;
    }


    /* template 5 */


    .wrap-blackbox-and-lorem-paragraph {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    /* left side */


    .black-box-1-template-5 {
        background-color: black;
    }

    .wrapper-h1-and-paragrph-inTamplate-5 h1 {
        font-size: 15px;
        margin: 0 7%;
    }

    .lorem-1-inTamplate-5 i,
    .lorem-2-inTamplate-5 i,
    .lorem-3-inTamplate-5 i {
        font-size: 30px;
    }

    .lorem-1-inTamplate-5 h3,
    .lorem-2-inTamplate-5 h3,
    .lorem-3-inTamplate-5 h3 {
        font-size: 10px;
    }

    .lorem-1-inTamplate-5 p,
    .lorem-2-inTamplate-5 p,
    .lorem-3-inTamplate-5 p {
        font-size: 9px;
        font-weight: 500;
    }

    /* right side */

    .black-box-2-template-5 {
        justify-content: center;
        padding-right: 0%;
        height: 100%;
    }

    .black-box-2-template-5 {
        font-size: 7px;
    }

    .wrapper-lorem-and-img-template-5 p {
        width: 99%;
    }
}


@media (min-width:768px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}